
IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto }


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

body {
  background-color: #f5f5dc;
  font-family: Arial, sans-serif;
}



h1 {
  color: darkorchid;
  text-align: center;
  font-size: 50px;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 43px;
}


h3 {
  color: darkorange;
  text-align: center;
  font-size: 36px;
}


p {
  font-family: "RockwellExtraBold";
  color: black;
  margin: 20px;
  font-size: 20px;
}


a {
  display: block;
  color: blue;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: red;
}
